extends layout

block main-content
  section.content
    h1= title
    p Welcome to #{title}
    div(ng-view)
    form(name='signUpForm', action='/auth/signUp', method='post')
     input#userName(name='userName')
     br
     input#password(name='password')
     br
     input(type='submit', value='submit')

  h2= mongoMessage
