script(type="text/javascript", src="/libs/angular/angular.js")
script(type="text/javascript", src="/libs/angular-resource/angular-resource.js")
script(type="text/javascript", src="/libs/angular-route/angular-route.js")
script(type="text/javascript", src="/app/app.module.js")
