doctype html
html(ng-app='CMS')
    head
        title= title
        link(rel='stylesheet', href='../bower_modules/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='../bower_modules/bootstrap/dist/css/bootstrap-theme.css')
        link(rel='stylesheet', href='../stylesheets/style.css')
    body
        include partials/mainmenu
        div.container
        block content
        h1= title
        p Welcome to The Homepage
        div(ng-controller='postController')
                h2 Search Post:
                    input(ng-model='query')
                div()
                    h2 Tags:
                    div(ng-init='getTags()')
                    label.checkbox-inline(ng-repeat='tag in Tags')
                      input(type='checkbox', ng-click='tagsChange(tag.name)')
                      |  {{ tag.name }}

                div()
                    h2 Categories:
                    div(ng-init='getCategories()')
                    label.checkbox-inline(ng-repeat='category in Categories')
                      input(type='checkbox', ng-click='categoriesChange(category.name)')
                      |  {{ category.name }}


                table(ng-init='getPosts()' class='table table-bordered table-striped')
                    thead
                        td title
                        td description
                        td author
                        td categories
                        td tags
                        td comments
                        td actions
                    tbody

                        h2 Posts
                        tr(ng-repeat='post in Posts | filter:query | filter:tagFilter | filter:categoryFilter')
                            td {{ post.title }}
                            td {{ post.content }}
                            td {{ post.postedBy }}
                            td {{ post.categories }}
                            td {{ post.tags }}
                            td {{ post.comments }}
                            td
                                a(class='btn btn-success', href='/posts/{{ post._id }}') Read Post
                if locals.user
                    h2 Create Post
                    form
                        div.form-group
                            label(for='title') Title
                                input(type='text', class='form-control', id='title', name='title', placeholder='Title', ng-model='newpost.title', autofocus)
                        div.form-group
                            label(for='password') Content
                                input(type='text', class='form-control', id='content', name='content', placeholder='content', ng-model='newpost.content')
                    div(ng-controller='tagController')
                        h2 Choose Tags
                        div( ng-model='Tags', ng-init='getTags()')
                            ul( ng-repeat='tag in Tags')
                                    li
                                    label

                                        input(value='{{tag.name}}', type='checkbox', ng-checked='selection.indexOf(tag.name) > -1', ng-click='toggleTagSelection(tag.name)')

                                        span {{tag.name}}
                            div(ng-repeat='name in selection' class='selected-item')

                    div(ng-controller='categoryController')
                        h2 Choose Categories
                        div( ng-model='Categories', ng-init='getCategories()')
                            ul( ng-repeat='cat in Categories')
                                li
                                    label
                                        input(value='{{cat.name}}', type='checkbox', ng-checked='selection.indexOf(cat.name) > -1', ng-click='toggleCatSelection(cat.name)')
                                        span {{cat.name}}

                    button( ng-click='createPost(newpost)', class='btn btn-small btn-primary') Create Post


        script(type='text/javascript', src='../bower_modules/angular/angular.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.min.js')
        script(type='text/javascript', src='../js/app.module.js')
        script(type='text/javascript', src='../js/app.usercontroller.js')
        script(type='text/javascript', src='../js/app.userservice.js')
        script(type='text/javascript', src='../js/app.postservice.js')
        script(type='text/javascript', src='../js/app.postcontroller.js')
        script(type='text/javascript', src='../js/app.tagservice.js')
        script(type='text/javascript', src='../js/app.tagcontroller.js')
        script(type='text/javascript', src='../js/app.categoryservice.js')
        script(type='text/javascript', src='../js/app.categorycontroller.js')
