extends layout

block content
	div(class="col-md-6 center-clock")
		form(name='signUpForm', action='/auth/register', method='post')
			div.form-group
				label(for="userName") Username
					input(type="text", value=userName , class="form-control", id="userName", name="userName", placeholder="Username", autofocus)
			p
				b(style="color:red;")= message
			div.form-group
				label(for="password") Password
					input(type="password", class="form-control", id="password", name="password", placeholder="Password")

			div.form-group
				label(for="repeatPassword") Repeat Password
					input(type="password", class="form-control", id="repeatPassword", name="repeatPassword", placeholder="Password")

			div.form-group
				label(for="repeatPassword") Email
					input(type="email", class="form-control", id="email", name="email", placeholder="Email")



			button(type="submit", class="btn btn-default") Register